/* Basic CSS Resets */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F7FA; /* Match the theme background */
}

#root {
  height: 100vh;
  display: flex;
}

/* Remove link underlines globally */
a {
  text-decoration: none;
}
